
<div>
    <a>ESTACION</a>

</div>

<div class="toast show" id="toast" trole="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">¡ATENCIÓN!</strong>
        <small>Ahora</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Hay 5 equipos fuera de servicio.
    </div>
</div>

<!-- <div class="form-group">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
      <label class="custom-control-label" for="customSwitch1">Estacion Favorita</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" disabled="" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">Recibir notificaciones</label>
    </div>
  </div> -->