.col-11 {
    width: 60%;
    padding: 10px;
  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: fixed;
    
    left: 50%;
    width:90%;
    
    font-size: 15px;
    color: white;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,-50%);
    text-align: left;
    padding: 5px; 
    margin: 5px; 
    outline: 1px solid #ccc;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  