<%- layout('layouts/index') %>

<div class="card-body" style="background: #000000; flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="d-flex">
        <div class="wrapper">
          <h5 class="mb-0 font-weight-medium text-blod" style="color: #ff0000;">Tas</h5>
          <h3 class="mb-0 font-weight-semibold">200</h3>
          <p class="mb-0 text-muted">+14.00(+10%)</p>
        </div>
        <div class="wrapper my-auto ml-auto ml-lg-4">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas height="95" width="165" id="stats-line-graph-1" class="chartjs-render-monitor"
            style="display: block; height: 75px; width: 145px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
      <div class="d-flex">
        <div class="wrapper">
          <h5 class="mb-0 font-weight-medium text-blod">Pos</h5>
          <h3 class="mb-0 font-weight-semibold">401</h3>
          <p class="mb-0 text-muted">+13(10%)</p>
        </div>
        <div class="wrapper my-auto ml-auto ml-lg-4">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas height="95" width="165" id="stats-line-graph-2" class="chartjs-render-monitor"
            style="display: block; height: 75px; width: 145px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
      <div class="d-flex">
        <div class="wrapper">
          <h5 class="mb-0 font-weight-medium text-blod" style="color: #0ff000;">Valis</h5>
          <h3 class="mb-0 font-weight-semibold">538</h3>
          <p class="mb-0 text-muted">+0(+0%)</p>
        </div>
        <div class="wrapper my-auto ml-auto ml-lg-4">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas height="95" width="165" id="stats-line-graph-3" class="chartjs-render-monitor"
            style="display: block; height: 75px; width: 145px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
      <div class="d-flex">
        <div class="wrapper">
          <h5 class="mb-0 font-weight-medium text-blod">Carteles</h5>
          <h3 class="mb-0 font-weight-semibold">200</h3>
          <p class="mb-0 text-muted">-20(-20%)</p>
        </div>
        <div class="wrapper my-auto ml-auto ml-lg-4">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas height="95" width="165" id="stats-line-graph-4" class="chartjs-render-monitor"
            style="display: block; height: 75px; width: 145px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-6 mt-md-0 mt-4">
  <canvas id="chart-2" width="327" height="384" class="chartjs-render-monitor"
    style="display: block; height: 256px; width: 218px;"></canvas>
  <div class="d-flex">
    <div class="wrapper">
      <h3 class="mb-0 font-weight-semibold">15,236</h3>
      <h5 class="mb-0 font-weight-medium text-primary">Impressions</h5>
      <p class="mb-0 text-muted">+138.97(+0.54%)</p>
    </div>
    <div class="wrapper my-auto ml-auto ml-lg-4">
      <canvas height="50" width="100" id="stats-line-graph-2"></canvas>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById("chart-2");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: 'First dataset',
        data: [0, 20, 40, 10],
        backgroundColor: 'rgba(255, 0, 0, 0.2)',
        borderColor: 'rgba(100, 0, 255, 0.1)'
      }],
      labels: ['January', 'February', 'March', 'April']
    },
    options: {
      showLines: true,
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 50,
            suggestedMax: 300
          }
        }]
      }
    }
  });

  var lineStatsOptions = {
    scales: {
      yAxes: [{
        display: false,
        
      }],
      xAxes: [{
        display: false
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      },
      line: {
        tension: 0
      }
    },
    stepsize: 100
    
  }

  var lineChartCanvas = $("#stats-line-graph-1").get(0).getContext("2d");
  var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
  gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
  gradientStrokeFill_1.addColorStop(1, '#fff');
  var lineChart = new Chart(lineChartCanvas, {
    type: 'line',
    data: {
      labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
      datasets: [{
        label: 'Profit',
        data: [7, 6, 9, 7, 8, 6, 8, 5, 7, 8, 6, 7, 7],
        borderColor: '#6d7cfc',
        backgroundColor: gradientStrokeFill_1,
        borderWidth: 2,
        fill: true
      }]
    },
    options: lineStatsOptions
  });

  var lineChartCanvas = $("#stats-line-graph-2").get(0).getContext("2d");
  var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
  gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
  gradientStrokeFill_1.addColorStop(1, '#fff');
  var lineChart = new Chart(lineChartCanvas, {
    type: 'line',
    data: {
      labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
      datasets: [{
        label: 'Profit',
        data: [7, 6, 9, 7, 3, 6, 8, 5, 7, 8, 6, 7, 2],
        borderColor: '#6d7cfc',
        backgroundColor: gradientStrokeFill_1,
        borderWidth: 3,
        fill: true
      }]
    },
    options: lineStatsOptions
  });

  var lineChartCanvas = $("#stats-line-graph-3").get(0).getContext("2d");
  var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
  gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
  gradientStrokeFill_1.addColorStop(1, '#fff');
  var lineChart = new Chart(lineChartCanvas, {
    type: 'line',
    data: {
      labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
      datasets: [{
        label: 'Profit',
        data: [7, 6, 9, 7, 8, 6, 8, 5, 7, 8, 6, 7, 7],
        borderColor: '#6d7cfc',
        backgroundColor: gradientStrokeFill_1,
        borderWidth: 3,
        fill: true
      }]
    },
    options: lineStatsOptions
  });

  var lineChartCanvas = $("#stats-line-graph-4").get(0).getContext("2d");
  var gradientStrokeFill_1 = lineChartCanvas.createLinearGradient(0, 0, 0, 50);
  gradientStrokeFill_1.addColorStop(0, 'rgba(131, 144, 255, 0.5)');
  gradientStrokeFill_1.addColorStop(1, '#fff');
  var lineChart = new Chart(lineChartCanvas, {
    type: 'line',
    data: {
      labels: ["Day 1", "Day 2", "Day 3", "Day 4", "Day 5", "Day 6", "Day 7", "Day 8", "Day 9", "Day 10", "Day 11", "Day 12", "Day 13"],
      datasets: [{
        label: 'Profit',
        data: [7, 6, 9, 7, 8, 6, 8, 5, 7, 8, 6, 7, 7],
        borderColor: '#6d7cfc',
        backgroundColor: gradientStrokeFill_1,
        borderWidth: 3,
        fill: true
      }]
    },
    options: lineStatsOptions
  });

</script>
<!-- 

		var presets = window.chartColors;
		var utils = Samples.utils;
		var inputs = {
			min: -100,
			max: 100,
			count: 8,
			decimals: 2,
			continuity: 1
		};

		function generateData(config) {
			return utils.numbers(Chart.helpers.merge(inputs, config || {}));
		}

		function generateLabels(config) {
			return utils.months(Chart.helpers.merge({
				count: inputs.count,
				section: 3
			}, config || {}));
		}

		var options = {
			maintainAspectRatio: false,
			spanGaps: false,
			elements: {
				line: {
					tension: 0.000001
				}
			},
			plugins: {
				filler: {
					propagate: false
				}
			},
			scales: {
				xAxes: [{
					ticks: {
						autoSkip: false,
						maxRotation: 0
					}
				}]
			}
		};

		[false, 'origin', 'start', 'end'].forEach(function(boundary, index) {

			// reset the random seed to generate the same data for all charts
			utils.srand(8);

			new Chart('chart-' + index, {
				type: 'line',
				data: {
					labels: generateLabels(),
					datasets: [{
						backgroundColor: utils.transparentize(presets.red),
						borderColor: presets.red,
						data: generateData(),
						label: 'Dataset',
						fill: boundary
					}]
				},
				options: Chart.helpers.merge(options, {
					title: {
						text: 'fill: ' + boundary,
						display: true
					}
				})
			});
		});

		// eslint-disable-next-line no-unused-vars
		function toggleSmooth(btn) {
			var value = btn.classList.toggle('btn-on');
			Chart.helpers.each(Chart.instances, function(chart) {
				chart.options.elements.line.tension = value ? 0.4 : 0.000001;
				chart.update();
			});
		}

		// eslint-disable-next-line no-unused-vars
		function randomize() {
			var seed = utils.rand();
			Chart.helpers.each(Chart.instances, function(chart) {
				utils.srand(seed);

				chart.data.datasets.forEach(function(dataset) {
					dataset.data = generateData();
				});

				chart.update();
			});
		}
	 -->