<%- layout('layouts/index') %>
<!-- <div class="container-fluid"> -->
<div >
    <svg id="svg2374" width="100%" height="100%" style="background:rgb(39,43,48)" version="1.1" viewBox="0 0 793.75 637.91" xmlns="http://www.w3.org/2000/svg">
        <g id="layer1" transform="translate(-535.97 232.11)">
            <path id="linea_d" class="path" d="m667.04-161.7h283.31l62.274 62.274h29.132l22.584 22.584h37.819l84.524 84.524h15.044" style="fill:none;stroke-width:2;stroke:#007964"/>
            <path id="linea_h" class="path" d="m1119.3-208.74-80.315 80.314v394.62h-26.326l-13.096 13.096" style="fill:none;stroke-width:2;stroke:#fdd500"/>
            <path id="linea_a" class="path" d="m1218.3 23.254h-374.04l-173.32 173.32" style="fill:none;stroke-width:2;stroke:#49b2df"/>
            <path id="linea_e" class="path" d="m736.8 258.45v-16.571l44.901-44.901h15.234l41.427-41.427h291.32v-59.334l58.532-58.532v-34.745l19.644-19.644v-99.023" style="fill:none;stroke-width:2;stroke:#7b1e82"/>
            <path id="linea_c" class="path" d="m1213.6-119.47-39.69 39.69v63.744h-22.584v230.65" style="fill:none;stroke-width:2;stroke:#0e6aad"/>
            <path id="linea_b" class="path" d="m1209.6-34.209h-276.09l-59.067-59.067h-249.1" style="fill:none;stroke-width:2;stroke:#e34a2e"/>
            <circle id="d_juramento" class="circle" cx="722.86" cy="-161.85" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_c_de_tucuman" class="circle" cx="667.33" cy="-162.03" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_j_hernandez" class="circle" cx="777.63" cy="-162.21" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_olleros" class="circle" cx="871.37" cy="-161.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_m_carranza" class="circle" cx="923.53" cy="-161.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_palermo" class="circle" cx="949.61" cy="-161.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_p_italia" class="circle" cx="968.13" cy="-145.95" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_scalabrini_ortiz" class="circle" cx="985.9" cy="-127.81" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_bulnes" class="circle" cx="998.75" cy="-115.72" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_aguero" class="circle" cx="1013.5" cy="-100.6" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_pueyrredon" class="circle" cx="1039.2" cy="-100.22" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_f_medicina" class="circle" cx="1064.9" cy="-77.541" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_callao" class="circle" cx="1098.2" cy="-77.541" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_tribunales" class="circle" cx="1125" cy="-55.618" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_9_de_julio" class="circle" cx="1154.1" cy="-26.136" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="d_catedral" class="circle" cx="1200.2" cy="7.1256" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#007865"/>
            <circle id="15" class="circle" cx="1208.1" cy="-34.452" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33" onclick="on(this.id)">
             <desc id="desc948">Combindacion Linea B y E</desc>
             <title id="title946">Alem y Correo Central</title>
            </circle>
            <circle id="b_florida" class="circle" cx="1186.6" cy="-34.074" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_c_pellegrini" class="circle" cx="1154.1" cy="-34.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_uruguay" class="circle" cx="1125.7" cy="-34.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_callao" class="circle" cx="1098.2" cy="-34.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_pasteur" class="circle" cx="1068.3" cy="-34.452" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_pueyrredon" class="circle" cx="1039.4" cy="-34.83" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_c_gardel" class="circle" cx="1006.1" cy="-34.679" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_medrano" class="circle" cx="962.46" cy="-33.696" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_a_gallardo" class="circle" cx="932.6" cy="-35.964" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_malabia" class="circle" cx="907.66" cy="-61.666" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_dorrego" class="circle" cx="848.92" cy="-93.567" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_f_lacroze" class="circle" cx="792.37" cy="-93.416" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_tronador" class="circle" cx="767.05" cy="-93.416" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_los_incas" class="circle" cx="716.78" cy="-93.416" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_echeverria" class="circle" cx="668.02" cy="-93.038" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="b_rosas" class="circle" cx="626.07" cy="-93.416" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#c54b33"/>
            <circle id="110" class="circle" cx="1118.9" cy="-208.7" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400" onclick="on(this.id)">
             <desc id="desc944">Facultad de Derecho - Julieta Lanteri</desc>
             <title id="title942">Facultad de Derecho</title>
            </circle>
            <circle id="h_las_heras" class="circle" cx="1058" cy="-144.82" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_santa_fe" class="circle" cx="1039" cy="-109.67" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_cordoba" class="circle" cx="1039.4" cy="-76.407" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_corrientes" class="circle" cx="1039.4" cy="-45.035" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_once" class="circle" cx="1039.6" cy="10.905" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_venezuela" class="circle" cx="1039.2" cy="86.501" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_humberto_primo" class="circle" cx="1039.6" cy="142.82" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_inclan" class="circle" cx="1039.6" cy="223.33" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_caseros" class="circle" cx="1039.6" cy="256.21" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_p_patricios" class="circle" cx="1019.2" cy="265.28" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="h_hospitales" class="circle" cx="999.88" cy="278.89" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#f2d400"/>
            <circle id="a_san_pedrito" class="circle" cx="672.18" cy="196.11" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_sj_flores" class="circle" cx="708.09" cy="160.21" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_carabobo" class="circle" cx="725.09" cy="142.82" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_puan" class="circle" cx="754.2" cy="114.09" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_p_junta" class="circle" cx="825.64" cy="42.655" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_acoyte" class="circle" cx="884.6" cy="23.757" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_rio_de_janeiro" class="circle" cx="925.8" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_castro_barros" class="circle" cx="957.55" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_loria" class="circle" cx="999.51" cy="23.379" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="99" class="circle" cx="1039.6" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc" onclick="on(this.id)">
             <desc id="desc952">Plaza Miserere - Combinacion Once Linea H y F.C. Sarmiento</desc>
             <title id="title950">Miserere</title>
            </circle>
            <circle id="a_alberti" class="circle" cx="1058.1" cy="23.379" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_pasco" class="circle" cx="1077.7" cy="22.623" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_congreso" class="circle" cx="1098.5" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_saenz_pena" class="circle" cx="1118.6" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_lima" class="circle" cx="1137.1" cy="22.623" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_piedras" class="circle" cx="1168.8" cy="23.379" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_peru" class="circle" cx="1182.4" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="a_p_de_mayo" class="circle" cx="1219.1" cy="23.001" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#73b0dc"/>
            <circle id="c_av_de_mayo" class="circle" cx="1151.4" cy="22.849" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_moreno" class="circle" cx="1151.5" cy="51.349" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_independencia" class="circle" cx="1151.3" cy="110.69" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_san_juan" class="circle" cx="1151.5" cy="153.02" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_constitucion" class="circle" cx="1151.5" cy="213.88" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_lavalle" class="circle" cx="1173.8" cy="-51.839" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_san_martin" class="circle" cx="1190.8" cy="-96.818" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="c_retiro" class="circle" cx="1213.4" cy="-119.12" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <circle id="e_retiro" class="circle" cx="1208.1" cy="-110.88" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_catalinas" class="circle" cx="1207.8" cy="-83.286" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_correo_central" class="circle" cx="1208" cy="-22.508" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_bolivar" class="circle" cx="1186.8" cy="38.498" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_belgrano" class="circle" cx="1160.1" cy="66.846" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_independencia" class="circle" cx="1130.3" cy="110.31" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_san_jose" class="circle" cx="1118.6" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_entre_rios" class="circle" cx="1095.9" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_pichincha" class="circle" cx="1067.5" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_jujuy" class="circle" cx="1039.2" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_urquiza" class="circle" cx="1009.3" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_boedo" class="circle" cx="980.98" cy="154.91" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_av_la_plata" class="circle" cx="925.8" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_jm_moreno" class="circle" cx="884.22" cy="155.29" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_emilio_mitre" class="circle" cx="828.28" cy="164.74" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_medalla_milagrosa" class="circle" cx="796.53" cy="196.87" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_varela" class="circle" cx="751.18" cy="227.49" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="e_p_virreyes" class="circle" cx="736.66" cy="258.1" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#6a237f"/>
            <circle id="c_d_norte" class="circle" cx="1165.6" cy="-15.723" r="4.7247" style="fill:#0f0;stroke-width:1.165;stroke:#3e6aa9"/>
            <text id="text6583" class="nombre" transform="rotate(-45)" x="546.47119" y="437.75137" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6577" x="642.38721" y="437.75137" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6573" x="642.38721" y="437.75137" dx="0 0 0 0 0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">José</tspan></tspan><tspan id="tspan6581" x="625.20966" y="443.25641" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6579" x="625.20966" y="443.25641" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Hernández</tspan></tspan></text>
            <text id="text6601" class="nombre" transform="rotate(-45)" x="674.52643" y="543.58325" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6595" x="717.65497" y="543.58325" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6591" x="717.65497" y="543.58325" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Mtro. Carranza</tspan></tspan><tspan id="tspan6599" x="719.44788" y="549.08826" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6597" x="719.44788" y="549.08826" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Miguel abuelo</tspan></tspan></text>
            <text id="text6607" class="nombre" transform="rotate(-45)" x="730.47461" y="563.99396" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6605" x="754.17511" y="563.99396" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6603" x="754.17511" y="563.99396" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Palermo</tspan></tspan></text>
            <text id="text6684" class="nombre" transform="rotate(-45)" x="721.12701" y="585.16064" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6682" x="750.26416" y="585.16064" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6680" x="750.26416" y="585.16064" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Plaza Italia</tspan></tspan></text>
            <text id="text6696" class="nombre" transform="rotate(-45)" x="707.62622" y="607.08325" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6690" x="750.73755" y="607.08325" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6686" x="750.73755" y="607.08325" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Scalabrini</tspan></tspan><tspan id="tspan6694" x="765.58618" y="612.58826" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6692" x="765.58618" y="612.58826" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Ortiz</tspan></tspan></text>
            <text id="text6756" class="nombre" transform="rotate(-45)" x="740.3349" y="626.73798" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6754" x="760.19269" y="626.73798" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6752" x="760.19269" y="626.73798" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Bulnes</tspan></tspan></text>
            <text id="text6750" class="nombre" transform="rotate(-45)" x="736.62988" y="648.66064" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6748" x="758.26538" y="648.66064" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6746" x="758.26538" y="648.66064" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Agüero</tspan></tspan></text>
            <text id="text6744" class="nombre" transform="rotate(-45)" x="728.7016" y="666.80347" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6742" x="761.87012" y="666.80347" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6740" x="761.87012" y="666.80347" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pueyrredón</tspan></tspan></text>
            <text id="text6738" class="nombre" transform="rotate(-45)" x="813.79559" y="697.41956" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;word-spacing:0px" xml:space="preserve"><tspan id="tspan6732" x="813.79559" y="697.41956" style="stroke-width:.10001"><tspan id="tspan6728" x="813.79559" y="697.41956" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001">Facultad</tspan><tspan id="tspan6730" x="838.32239" y="697.41956" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001"/></tspan><tspan id="tspan6736" x="813.79559" y="702.92456" style="stroke-width:.10001"><tspan id="tspan6734" x="813.79559" y="702.92456" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001">de Medicina</tspan></tspan></text>
            <text id="text6726" class="nombre" transform="rotate(-45)" x="818.85895" y="726.52368" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6724" x="836.63245" y="726.52368" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6722" x="836.63245" y="726.52368" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Callao</tspan></tspan></text>
            <text id="text6720" class="nombre" transform="rotate(-45)" x="840.25397" y="755.62787" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;word-spacing:0px" xml:space="preserve"><tspan id="tspan6714" x="840.25397" y="755.62787" style="stroke-width:.10001"><tspan id="tspan6710" x="840.25397" y="755.62787" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001">Tribunales</tspan><tspan id="tspan6712" x="869.92371" y="755.62787" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001"/></tspan><tspan id="tspan6718" x="840.25397" y="761.13293" style="stroke-width:.10001"><tspan id="tspan6716" x="840.25397" y="761.13293" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001">Teatro Colón</tspan></tspan></text>
            <text id="text6708" class="nombre" transform="rotate(-45)" x="772.54932" y="798.33917" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6706" x="799.54767" y="798.33917" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6704" x="799.54767" y="798.33917" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">9 de Julio</tspan></tspan></text>
            <text id="text6702" class="nombre" transform="rotate(-45)" x="823.83289" y="861.83923" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6700" x="847.32123" y="861.83923" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6698" x="847.32123" y="861.83923" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Catedral</tspan></tspan></text>
            <text id="text6810" class="nombre" transform="rotate(-45)" x="940.46429" y="655.98523" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6798" x="940.46429" y="655.98523" style="stroke-width:.10001"><tspan id="tspan6794" x="940.46429" y="655.98523" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Facultad</tspan><tspan id="tspan6796" x="964.99103" y="655.98523" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6804" x="940.46429" y="661.4903" style="stroke-width:.10001"><tspan id="tspan6800" x="940.46429" y="661.4903" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">de Derecho</tspan><tspan id="tspan6802" x="973.27594" y="661.4903" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6808" x="940.46429" y="666.9953" style="stroke-width:.10001"><tspan id="tspan6806" x="940.46429" y="666.9953" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Julieta Lanteri</tspan></tspan></text>
            <text id="text6816" class="nombre" transform="rotate(-45)" x="821.1391" y="660.34784" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6814" x="849.49335" y="660.34784" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6812" x="849.49335" y="660.34784" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Las Heras</tspan></tspan></text>
            <text id="text6828" class="nombre" transform="rotate(-45)" x="816.55591" y="665.82855" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6822" x="816.55591" y="665.82855" style="stroke-width:.10001"><tspan id="tspan6818" x="816.55591" y="665.82855" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Santa Fe</tspan><tspan id="tspan6820" x="841.4823" y="665.82855" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6826" x="816.55591" y="671.33356" style="stroke-width:.10001"><tspan id="tspan6824" x="816.55591" y="671.33356" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Carlos Jáuregui</tspan></tspan></text>
            <text id="text7398" class="nombre" transform="rotate(-45)" x="742.97192" y="709.10681" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7396" x="772.52649" y="709.10681" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7394" x="772.52649" y="709.10681" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Corrientes</tspan></tspan></text>
            <text id="text7434" class="nombre" transform="rotate(-45)" x="736.61389" y="740.85681" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7428" x="736.61389" y="740.85681" style="stroke-width:.10001"><tspan id="tspan7424" x="736.61389" y="740.85681" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Once - 30</tspan><tspan id="tspan7426" x="763.3194" y="740.85681" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan7432" x="736.61389" y="746.36188" style="stroke-width:.10001"><tspan id="tspan7430" x="736.61389" y="746.36188" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">de Diciembre</tspan></tspan></text>
            <text id="text7032" class="nombre" transform="rotate(-45)" x="650.54785" y="803.78979" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7030" x="679.9494" y="803.78979" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7028" x="679.9494" y="803.78979" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Venezuela</tspan></tspan></text>
            <text id="text6978" class="nombre" transform="rotate(-45)" x="608.09467" y="840.26453" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6976" x="641.68488" y="840.26453" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6974" x="641.68488" y="840.26453" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Humberto I°</tspan></tspan></text>
            <text id="text6846" class="nombre" transform="rotate(-45)" x="584.4837" y="901.31323" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6834" x="584.4837" y="901.31323" style="stroke-width:.10001"><tspan id="tspan6830" x="584.4837" y="901.31323" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Inclán</tspan><tspan id="tspan6832" x="601.49731" y="901.31323" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6840" x="584.4837" y="906.81824" style="stroke-width:.10001"><tspan id="tspan6836" x="584.4837" y="906.81824" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Mezquita</tspan><tspan id="tspan6838" x="610.18176" y="906.81824" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6844" x="584.4837" y="912.3233" style="stroke-width:.10001"><tspan id="tspan6842" x="584.4837" y="912.3233" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Al Ahmad</tspan></tspan></text>
            <text id="text6852" class="nombre" transform="rotate(-45)" x="533.89008" y="925.11639" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6850" x="557.69397" y="925.11639" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6848" x="557.69397" y="925.11639" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Caseros</tspan></tspan></text>
            <text id="text6864" class="nombre" transform="rotate(-45)" x="534.97113" y="897.23376" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6858" x="534.97113" y="897.23376" style="stroke-width:.10001"><tspan id="tspan6854" x="534.97113" y="897.23376" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Parque</tspan><tspan id="tspan6856" x="555.52631" y="897.23376" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6862" x="534.97113" y="902.73883" style="stroke-width:.10001"><tspan id="tspan6860" x="534.97113" y="902.73883" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Patricios</tspan></tspan></text>
            <text id="text6870" class="nombre" transform="rotate(-45)" x="442.26135" y="911.37341" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6868" x="472.03299" y="911.37341" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6866" x="472.03299" y="911.37341" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Hospitales</tspan></tspan></text>
            <text id="text7014" class="nombre" transform="rotate(-45)" x="632.28192" y="971.29413" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7012" x="668.41608" y="971.29413" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7010" x="668.41608" y="971.29413" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Constitución</tspan></tspan></text>
            <text id="text7020" class="nombre" transform="rotate(-45)" x="685.10876" y="930.40204" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7018" x="711.82172" y="930.40204" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7016" x="711.82172" y="930.40204" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">San Juán</tspan></tspan></text>
            <text id="text7026" class="nombre" transform="rotate(-45)" x="701.26471" y="899.24219" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7024" x="743.20874" y="899.24219" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7022" x="743.20874" y="899.24219" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Independencia</tspan></tspan></text>
            <text id="text7038" class="nombre" transform="rotate(-45)" x="726.9538" y="851.57654" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7036" x="748.87524" y="851.57654" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7034" x="748.87524" y="851.57654" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Moreno</tspan></tspan></text>
            <text id="text7410" class="nombre" transform="rotate(-45)" x="767.65881" y="813.58624" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7404" x="802.40399" y="813.58624" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7400" x="802.40399" y="813.58624" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Diagonal</tspan></tspan><tspan id="tspan7408" x="812.08209" y="819.09131" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7406" x="812.08209" y="819.09131" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Norte</tspan></tspan></text>
            <text id="text6762" class="nombre" transform="rotate(-45)" x="854.61566" y="797.14526" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6760" x="874.34485" y="797.14526" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6758" x="874.34485" y="797.14526" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Lavalle</tspan></tspan></text>
            <text id="text6786" class="nombre" transform="rotate(-45)" x="854.78674" y="760.28894" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6780" x="893.18915" y="760.28894" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6776" x="893.18915" y="760.28894" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">General</tspan></tspan><tspan id="tspan6784" x="885.06824" y="765.79395" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6782" x="885.06824" y="765.79395" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">San Martín</tspan></tspan></text>
            <text id="text6792" class="nombre" transform="rotate(-45)" x="925.10486" y="767.21112" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6790" x="941.91034" y="767.21112" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6788" x="941.91034" y="767.21112" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Retiro</tspan></tspan></text>
            <text id="text7086" class="nombre" transform="rotate(-45)" x="754.37878" y="833.80872" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7080" x="772.91656" y="833.80872" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7076" x="772.91656" y="833.80872" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Av. de</tspan></tspan><tspan id="tspan7084" x="774.13214" y="839.31372" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7082" x="774.13214" y="839.31372" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Mayo</tspan></tspan></text>
            <text id="text7200" class="nombre" transform="rotate(-45)" x="283.38614" y="628.68304" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7198" x="316.47339" y="628.68304" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7196" x="316.47339" y="628.68304" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">San Pedrito</tspan></tspan></text>
            <text id="text7194" class="nombre" transform="rotate(-45)" x="345.54532" y="626.60974" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7188" x="372.1983" y="626.60974" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7184" x="372.1983" y="626.60974" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">San José</tspan></tspan><tspan id="tspan7192" x="372.3898" y="632.11475" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7190" x="372.3898" y="632.11475" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">de Flores</tspan></tspan></text>
            <text id="text7182" class="nombre" transform="rotate(-45)" x="378.98303" y="626.51801" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7180" x="407.39789" y="626.51801" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7178" x="407.39789" y="626.51801" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Carabobo</tspan></tspan></text>
            <text id="text7176" class="nombre" transform="rotate(-45)" x="437.71933" y="625.0061" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7174" x="452.30328" y="625.0061" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7172" x="452.30328" y="625.0061" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Puan</tspan></tspan></text>
            <text id="text7170" class="nombre" transform="rotate(-45)" x="511.67166" y="627.14429" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7164" x="540.12927" y="627.14429" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7160" x="540.12927" y="627.14429" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Primera</tspan></tspan><tspan id="tspan7168" x="546.44354" y="632.64929" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7166" x="546.44354" y="632.64929" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Junta</tspan></tspan></text>
            <text id="text7158" class="nombre" transform="rotate(-45)" x="559.79877" y="649.06036" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7156" x="580.24652" y="649.06036" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7154" x="580.24652" y="649.06036" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Acoyte</tspan></tspan></text>
            <text id="text7152" class="nombre" transform="rotate(-45)" x="547.63538" y="676.69983" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7150" x="588.16833" y="676.69983" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7148" x="588.16833" y="676.69983" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Río de Janeiro</tspan></tspan></text>
            <text id="text7146" class="nombre" transform="rotate(-45)" x="613.83698" y="697.60059" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7140" x="633.38477" y="697.60059" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7136" x="633.38477" y="697.60059" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Castro</tspan></tspan><tspan id="tspan7144" x="632.9989" y="703.10559" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7142" x="632.9989" y="703.10559" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Barros</tspan></tspan></text>
            <text id="text7134" class="nombre" transform="rotate(-45)" x="653.41864" y="730.89856" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7132" x="667.63538" y="730.89856" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7130" x="667.63538" y="730.89856" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Loria</tspan></tspan></text>
            <text id="text7128" class="nombre" transform="rotate(-45)" x="658.01556" y="751.81042" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7122" x="691.65747" y="751.81042" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7118" x="691.65747" y="751.81042" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Plaza</tspan></tspan><tspan id="tspan7126" x="682.36517" y="757.31549" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7124" x="682.36517" y="757.31549" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Miserere</tspan></tspan></text>
            <text id="text7116" class="nombre" transform="rotate(-45)" x="689.13757" y="771.46979" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7114" x="707.62567" y="771.46979" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7112" x="707.62567" y="771.46979" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Alberti</tspan></tspan></text>
            <text id="text7110" class="nombre" transform="rotate(-45)" x="704.65063" y="785.86438" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7108" x="722.43652" y="785.86438" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7106" x="722.43652" y="785.86438" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pasco</tspan></tspan></text>
            <text id="text7104" class="nombre" transform="rotate(-45)" x="697.04926" y="798.06708" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7102" x="725.46411" y="798.06708" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7100" x="725.46411" y="798.06708" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Congreso</tspan></tspan></text>
            <text id="text7098" class="nombre" transform="rotate(-45)" x="699.58966" y="813.30927" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7096" x="733.26801" y="813.30927" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7094" x="733.26801" y="813.30927" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Saenz Peña</tspan></tspan></text>
            <text id="text7092" class="nombre" transform="rotate(-45)" x="751.27832" y="824.92371" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7090" x="765.27313" y="824.92371" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7088" x="765.27313" y="824.92371" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Lima</tspan></tspan></text>
            <text id="text7074" class="nombre" transform="rotate(-45)" x="761.77887" y="851.11615" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7072" x="783.04718" y="851.11615" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7070" x="783.04718" y="851.11615" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Piedras</tspan></tspan></text>
            <text id="text7068" class="nombre" transform="rotate(-45)" x="786.77563" y="857.94464" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7066" x="799.76794" y="857.94464" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7064" x="799.76794" y="857.94464" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Perú</tspan></tspan></text>
            <text id="text7056" class="nombre" transform="rotate(-45)" x="850.06342" y="889.07306" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7050" x="850.06342" y="889.07306" style="stroke-width:.10001"><tspan id="tspan7046" x="850.06342" y="889.07306" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Plaza de Mayo</tspan><tspan id="tspan7048" x="890.99597" y="889.07306" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan7054" x="850.06342" y="894.57806" style="stroke-width:.10001"><tspan id="tspan7052" x="850.06342" y="894.57806" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Casa Rosada</tspan></tspan></text>
            <text id="text6882" class="nombre" transform="rotate(-45)" x="277.39432" y="706.25519" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6876" x="312.78836" y="706.25519" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6872" x="312.78836" y="706.25519" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Int. </tspan></tspan><tspan id="tspan6880" x="299.16904" y="711.76025" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6878" x="299.16904" y="711.76025" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Saguier</tspan></tspan></text>
            <text id="text6900" class="nombre" transform="rotate(-45)" x="293.25809" y="715.70459" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6888" x="335.55176" y="715.70459" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6884" x="335.55176" y="715.70459" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Plaza de</tspan></tspan><tspan id="tspan6894" x="326.16159" y="721.20966" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6890" x="326.16159" y="721.20966" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">los Virreyes</tspan></tspan><tspan id="tspan6898" x="329.83145" y="726.71466" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6896" x="329.83145" y="726.71466" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Eva Perón</tspan></tspan></text>
            <text id="text6906" class="nombre" transform="rotate(-45)" x="350.94949" y="685.08856" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6904" x="368.70233" y="685.08856" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6902" x="368.70233" y="685.08856" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Varela</tspan></tspan></text>
            <text id="text6918" class="nombre" transform="rotate(-45)" x="393.67484" y="689.24628" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6912" x="427.30298" y="689.24628" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6908" x="427.30298" y="689.24628" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Medalla</tspan></tspan><tspan id="tspan6916" x="421.37454" y="694.75134" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6914" x="421.37454" y="694.75134" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Milagrosa</tspan></tspan></text>
            <text id="text6930" class="nombre" transform="rotate(-45)" x="466.82001" y="689.63562" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6924" x="466.82001" y="689.63562" style="stroke-width:.10001"><tspan id="tspan6920" x="466.82001" y="689.63562" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Emilio</tspan><tspan id="tspan6922" x="484.60529" y="689.63562" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan6928" x="466.82001" y="695.14069" style="stroke-width:.10001"><tspan id="tspan6926" x="466.82001" y="695.14069" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Mitre</tspan></tspan></text>
            <text id="text6942" class="nombre" transform="rotate(-45)" x="437.19751" y="741.78497" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6936" x="476.98288" y="741.78497" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6932" x="476.98288" y="741.78497" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">José María</tspan></tspan><tspan id="tspan6940" x="485.72537" y="747.28998" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6938" x="485.72537" y="747.28998" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Moreno</tspan></tspan></text>
            <text id="text6948" class="nombre" transform="rotate(-45)" x="472.05743" y="771.26709" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6946" x="504.8497" y="771.26709" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6944" x="504.8497" y="771.26709" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Av. La Plata</tspan></tspan></text>
            <text id="text6954" class="nombre" transform="rotate(-45)" x="540.05292" y="809.82068" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6952" x="558.99292" y="809.82068" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6950" x="558.99292" y="809.82068" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Boedo</tspan></tspan></text>
            <text id="text6966" class="nombre" transform="rotate(-45)" x="553.59576" y="828.71948" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6960" x="583.78973" y="828.71948" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6956" x="583.78973" y="828.71948" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Gral.</tspan></tspan><tspan id="tspan6964" x="575.10522" y="834.22455" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6962" x="575.10522" y="834.22455" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Urquiza</tspan></tspan></text>
            <text id="text6972" class="nombre" transform="rotate(-45)" x="586.64001" y="846.86237" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6970" x="602.58618" y="846.86237" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6968" x="602.58618" y="846.86237" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Jujuy</tspan></tspan></text>
            <text id="text6984" class="nombre" transform="rotate(-45)" x="582.25519" y="868.78497" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6982" x="610.34076" y="868.78497" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6980" x="610.34076" y="868.78497" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pichincha</tspan></tspan></text>
            <text id="text6996" class="nombre" transform="rotate(-45)" x="574.18469" y="887.68378" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6990" x="627.84631" y="887.68378" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6986" x="627.84631" y="887.68378" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Entre Ríos</tspan></tspan><tspan id="tspan6994" x="615.70154" y="893.18878" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6992" x="615.70154" y="893.18878" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Rodolfo Walsh</tspan></tspan></text>
            <text id="text7002" class="nombre" transform="rotate(-45)" x="621.88464" y="905.07068" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7000" x="648.40558" y="905.07068" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6998" x="648.40558" y="905.07068" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">San José</tspan></tspan></text>
            <text id="text7008" class="nombre" transform="rotate(-45)" x="629.40857" y="877.10046" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7006" x="671.3526" y="877.10046" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7004" x="671.3526" y="877.10046" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Independencia</tspan></tspan></text>
            <text id="text7044" class="nombre" transform="rotate(-45)" x="746.91943" y="879.36829" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7042" x="772.79523" y="879.36829" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7040" x="772.79523" y="879.36829" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Belgrano</tspan></tspan></text>
            <text id="text7062" class="nombre" transform="rotate(-45)" x="794.31348" y="877.10046" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7060" x="814.43109" y="877.10046" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7058" x="814.43109" y="877.10046" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Bolívar</tspan></tspan></text>
            <text id="text7422" class="nombre" transform="rotate(-45)" x="851.88794" y="847.61835" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7416" x="872.86133" y="847.61835" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7412" x="872.86133" y="847.61835" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Correo</tspan></tspan><tspan id="tspan7420" x="872.23981" y="853.12335" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7418" x="872.23981" y="853.12335" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Central</tspan></tspan></text>
            <text id="text6768" class="nombre" transform="rotate(-45)" x="893.3877" y="801.1272" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6766" x="919.59222" y="801.1272" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6764" x="919.59222" y="801.1272" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Catalinas</tspan></tspan></text>
            <text id="text6774" class="nombre" transform="rotate(-45)" x="918.89636" y="787.52008" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6772" x="935.70184" y="787.52008" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6770" x="935.70184" y="787.52008" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Retiro</tspan></tspan></text>
            <text id="text7218" class="nombre" transform="rotate(-45)" x="414.88983" y="378.16553" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7206" x="461.22778" y="378.16553" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7202" x="461.22778" y="378.16553" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Juan Manuel</tspan></tspan><tspan id="tspan7212" x="470.90591" y="383.67056" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7208" x="470.90591" y="383.67056" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">de Rosas</tspan></tspan><tspan id="tspan7216" x="462.89233" y="389.1756" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7214" x="462.89233" y="389.1756" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Villa Urquiza</tspan></tspan></text>
            <text id="text7224" class="nombre" transform="rotate(-45)" x="465.39029" y="411.04947" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7222" x="495.66837" y="411.04947" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7220" x="495.66837" y="411.04947" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Echeverría</tspan></tspan></text>
            <text id="text7236" class="nombre" transform="rotate(-45)" x="486.52747" y="445.06732" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7230" x="525.72815" y="445.06732" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7226" x="525.72815" y="445.06732" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">De los Incas</tspan></tspan><tspan id="tspan7234" x="523.19397" y="450.57236" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7232" x="523.19397" y="450.57236" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Parque Chas</tspan></tspan></text>
            <text id="text7248" class="nombre" transform="rotate(-45)" x="525.29022" y="478.32898" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7242" x="568.08893" y="478.32898" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7238" x="568.08893" y="478.32898" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Tronador</tspan></tspan><tspan id="tspan7246" x="560.06152" y="483.83405" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7244" x="560.06152" y="483.83405" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Villa Ortúzar</tspan></tspan></text>
            <text id="text7254" class="nombre" transform="rotate(-45)" x="559.74597" y="499.87366" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7252" x="587.98883" y="499.87366" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7250" x="587.98883" y="499.87366" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">F. Lacroze</tspan></tspan></text>
            <text id="text7260" class="nombre" transform="rotate(-45)" x="610.48499" y="538.42719" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7258" x="633.78931" y="538.42719" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7256" x="633.78931" y="538.42719" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Dorrego</tspan></tspan></text>
            <text id="text7272" class="nombre" transform="rotate(-45)" x="610.57538" y="600.03735" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7266" x="653.11133" y="600.03735" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7262" x="653.11133" y="600.03735" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Malabia</tspan></tspan><tspan id="tspan7270" x="642.82544" y="605.54236" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7268" x="642.82544" y="605.54236" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">O. Pugliese</tspan></tspan></text>
            <text id="text7278" class="nombre" transform="rotate(-45)" x="589.77661" y="637.45697" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7276" x="632.38348" y="637.45697" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7274" x="632.38348" y="637.45697" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Ángel Gallardo</tspan></tspan></text>
            <text id="text7290" class="nombre" transform="rotate(-45)" x="645.79962" y="660.13556" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7284" x="671.88416" y="660.13556" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7280" x="671.88416" y="660.13556" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Medrano</tspan></tspan><tspan id="tspan7288" x="672.68341" y="665.64056" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7286" x="672.68341" y="665.64056" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Almagro</tspan></tspan></text>
            <text id="text7296" class="nombre" transform="rotate(-45)" x="648.065" y="691.50757" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7294" x="686.76031" y="691.50757" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7292" x="686.76031" y="691.50757" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Carlos Gardel</tspan></tspan></text>
            <text id="text7302" class="nombre" transform="rotate(-45)" x="682.75543" y="713.05225" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7300" x="715.92395" y="713.05225" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7298" x="715.92395" y="713.05225" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pueyrredón</tspan></tspan></text>
            <text id="text7314" class="nombre" transform="rotate(-45)" x="754.20605" y="724.01355" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7308" x="782.36542" y="724.01355" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7304" x="782.36542" y="724.01355" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pasteur</tspan></tspan><tspan id="tspan7312" x="788.54333" y="729.51855" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7310" x="788.54333" y="729.51855" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">AMIA</tspan></tspan></text>
            <text id="text7326" class="nombre" transform="rotate(-45)" x="692.91583" y="760.29926" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7320" x="746.00238" y="760.29926" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7316" x="746.00238" y="760.29926" dx="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Callao  - Maestro</tspan></tspan><tspan id="tspan7324" x="752.88452" y="765.80426" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7322" x="752.88452" y="765.80426" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Alfredo Bravo</tspan></tspan></text>
            <text id="text7332" class="nombre" transform="rotate(-45)" x="763.69971" y="779.57605" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7330" x="788.33038" y="779.57605" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7328" x="788.33038" y="779.57605" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Uruguay</tspan></tspan></text>
            <text id="text7344" class="nombre" transform="rotate(-45)" x="838.53094" y="778.82007" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7338" x="838.53094" y="778.82007" style="stroke-width:.10001"><tspan id="tspan7334" x="838.53094" y="778.82007" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Carlos</tspan><tspan id="tspan7336" x="857.11554" y="778.82007" dx="0" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start"/></tspan><tspan id="tspan7342" x="838.53094" y="784.32507" style="stroke-width:.10001"><tspan id="tspan7340" x="838.53094" y="784.32507" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Pellegrini</tspan></tspan></text>
            <text id="text7350" class="nombre" transform="rotate(-45)" x="848.14581" y="812.08197" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7348" x="867.52618" y="812.08197" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7346" x="867.52618" y="812.08197" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Florida</tspan></tspan></text>
            <text id="text6589" class="nombre" transform="rotate(-45)" x="616.85132" y="401.40106" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6587" x="616.28778" y="401.40106" style="stroke-width:.10001"><tspan id="tspan6585" x="616.85132" y="401.40106" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end">Juramento</tspan></tspan></text>
            <text id="text6678" class="nombre" transform="rotate(-45)" x="681.74554" y="506.31262" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6676" x="702.02167" y="506.31262" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6674" x="702.02167" y="506.31262" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Olleros</tspan></tspan></text>
            <text id="text7362" class="nombre" transform="rotate(-45)" x="860.55798" y="834.76056" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7356" x="885.87775" y="834.76056" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7352" x="885.87775" y="834.76056" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Leandro</tspan></tspan><tspan id="tspan7360" x="887.72437" y="840.26562" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7358" x="887.72437" y="840.26562" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">N. Alem</tspan></tspan></text>
            <text id="text6672" class="nombre" transform="rotate(-45)" x="505.38962" y="359.88702" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan6666" x="547.80066" y="359.88702" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6662" x="547.80066" y="359.88702" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Congreso</tspan></tspan><tspan id="tspan6670" x="540.82495" y="365.39206" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan6668" x="540.82495" y="365.39206" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">de Tucumán</tspan></tspan></text>
            <text id="text7392" class="nombre" transform="rotate(-45)" x="731.63562" y="680.10175" style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:0.5;stroke-width:.10001;text-align:end;text-anchor:end;word-spacing:0px" xml:space="preserve"><tspan id="tspan7390" x="756.70038" y="680.10175" style="stroke-width:.10001;text-align:start;text-anchor:start"><tspan id="tspan7388" x="756.70038" y="680.10175" style="fill:#ffffff;font-family:Arial;font-size:7.0556px;font-weight:normal;letter-spacing:-.10001px;line-height:0.5;stroke-width:.10001;text-align:start;text-anchor:start">Córdoba</tspan></tspan></text>
           </g>
          </svg>
          
          
</div>
<script type="text/javascript" src="script_mapa.js"></script>
