<%- layout('layouts/logueo')%>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <div class="bs-component">
        <form action="/signup" method="POST">
          <fieldset>
            <legend>Ingresa tus datos</legend>

            <div class="form-group">
              <label for="exampleInputName">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="exampleInputName"
                placeholder="Ingresa tu nombre">
            </div>

            <div class="form-group">
              <label for="exampleInputLastName">Apellido</label>
              <input type="text" class="form-control" name="apellido" id="exampleInputLastName"
                placeholder="Ingresa tu apellido">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ingresa tu email">
            </div>

            <div class="form-group">
              <label for="exampleInputLegajo">Legajo</label>
              <input type="text" class="form-control" name="legajo" id="exampleInputLegajo"
                placeholder="Ingresa tu legajo">
            </div>

            <div class="form-group">
              <label for="exampleSelectGerencia">Gerencia</label>
              <select class="form-control" name='gerencia' id="exampleSelectGerencia">
                <option>GIF</option>
                <option>SIAU</option>
                <option>OTRA</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                placeholder="Password">
            </div>

            <div class="col align-self-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
            </div>

            <div class="col align-self-end">
              <a href="/signin">Ya tenés cuenta? Logueate</a>
            </div>

          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>