<%- layout('layouts/logueo')%>

<!-- <form action="/signin" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignIn
  </button>
</form> -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <div class="bs-component">
        <form action="/signin" method="POST">
          <fieldset>
            <legend>Inicio de Sesion</legend>
            
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name='password' id="exampleInputPassword1" placeholder="Password">
            </div>
              
            <div class="col align-self-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
            </div>

            <div class="col align-self-end">
              <a href="/signup">Registrarse</a>
            </div>
            
          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>