<!-- aca puedo escribir uns plantilla (codigo repetitivo) para mostrarlo en varios lugares -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style2.css" rel="stylesheet">

  <title>Metro Moni</title>
  <!-- <link rel="stylesheet" href="./../css/bootstrap.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->


  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- <script src="./css/jquery-3.5.1.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <!-- <script type = "text/javascript" src="./../css/bootstrap/4.5.2/js/bootstrap.min.js" ></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <style>
    @keyframes transition {
      0% {
        r: 0%;
      }

      60% {
        r: 0%;
      }

      100% {
        r: r;
      }
    }

    @keyframes nombresest {
      0% {
        opacity: 0;
      }

      60% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

    .circle {
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-name: transition;
    }

    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 4s cubic-bezier(.17, .56, .15, .96) forwards;
    }

    .nombre {
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-name: nombresest;
    }
  </style>

</head>

<body>
  <!-- <script type="text/javascript" src="./../../../node_modules/chart.js/dist/Chart.bundle.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

  <div id="overlay" onclick="off()">
    <div id="text">cargando Datos...</div>
  </div>

  <!-- NAVBAR -->
  <% if (!user) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
          alt="" loading="lazy">
        Metro Moni
      </a>
      <div class="collapse navbar-collapse" id="navbarColor03">

      </div>
      <button class="btn btn-info my-2 my-sm-0" type="button">Ayuda</button>
    </nav>

    <% } else { %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main">Metro Moni</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/main">Mapa <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Mis Estaciones</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>

            <% if (user.nivel>= 9) { %>
              <li class="nav-item">
                <a class="nav-link" href="/metricas">Metricas</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Indices Mensuales</a>
              </li>

              <% } %>


          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">¡Hola <%= user.nombre %>!</a>
              <div class="dropdown-menu">
                <a class="dropdown-item">Legajo <%= user.legajo %> - N:<%= user.nivel %></a>
                <a class="dropdown-item" href="/profile">Perfil</a>
                <a class="dropdown-item" href="#">Mensajes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
              </div>
            </li>
            <li class="nav-item">
              <button class="btn btn-info my-2 my-sm-0" type="button">Ayuda</button>
            </li>
          </ul>
      </nav>




      <% } %>



        <!-- NAVIGATION -->
        <!-- <% if (!user) { %>
     <!-- <a href="/signin">Signin</a>
     <a href="/signup">Signup</a> -->
        <!-- <% } else { %>
     <a href="/logout">Logout</a>
     <a href="/profile">Profle</a>
   <% } %> -->

        <!-- <div class="container">
    <%if (signinMessage.lenght > 0) {%>
      <div class="alert alert-danger">
        <p><%= signinMessage %></p>
      </div>
    <% } %>
  
    <%if (signupMessage.lenght > 0) {%>
      <div class="alert alert-danger">
        <p><%= signupMessage %></p>
      </div>
    <% } %>
  </div> -->

        <%- body %>

</body>

</html>